body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#company-name {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Make it responsive */
@media (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    #company-name {
        font-size: 24px;
    }
}